<server description="springlibertyapp">
    <featureManager>
        <feature>springBoot-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>
    <application type="spring" location="target/Application-0.0.1-SNAPSHOT.jar"/>
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />
    <applicationManager autoExpand="true" />
</server>